    {% extends "base.html" %}
    {% block main %}
    <div class="container">
        <div class="row">
            <div class="form-background col-md-6 offset-md-3">
                <h1>Welcome to login!</h1>
        <form>
            <!--Container-->
            <div class="container">
            <div>
                <!---Enter Username-->
                <label for="username"> Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter Username">
                    <small id="username" class="form-text text-muted"> </small>
            </div>
            <br>
            <!-- Enter Password-->
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">        
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>  
            </div>
        </div>
    </div>
    {% endblock %}