{% extends "base.html" %}
{% block main %}
<div id="content">
    <div class="container main">
        <div class="row">
            <div class="login_form_background col-6 offset-md-3">
                <h1>Register</h1>
                <!-- Registration -->
                <form method="post" action="/register">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <!--Container-->
                    <!--Email-->
                        <div class="form-group">
                            <label for="emailinputfield">Email</label>
                            <input type="email" name="email" class="form-control" id="emailinputfield" aria-describedby="nameinput" placeholder="Enter Email" required>
                            <small id="nameinput" class="form-text text-muted">We'll never share your personal details with anyone else.</small>
                        </div>
                        <br>
                    <!-- Create Password-->
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">        
                        </div>
                        <br>
                        <!-- Confirm Password-->
                        <div class="form-group">
                            <label for="exampleInputPassword2">Confirm Password</label>
                            <input type="password" name="password_confirm" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</div>
                  
{% endblock %}
