
body{
padding-top: 56px;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

/*General*/
#main{
margin-top: 2rem;
}
cards{
    height: 100%!important;
}
.cards img{
width: 100px;
height: auto;
}

/*footer*/
#footer{
    background-color: #343a40!important;
    padding: 3rem 0;
    margin-top: 2rem;
    text-align: center
}

#footer p{
    margin: 0;
    color: #fff;
    width: 100%;
}

/*Home Page*/