
body.register{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body.login,
body.register{
    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*General*/
#main{
margin-top: 2rem;
}
cards{
    height: 100%!important;
}
.cards img{
width: 100px;
height: auto;
}

/*footer*/
#footer{
    background-color: #343a40!important;
    padding: 3rem 0;
    margin-top: 2rem;
    text-align: center
}

#footer p{
    margin: 0;
    color: #fff;
    width: 100%;
}

/*Home Page*/

/*Registration Page*/
h1{
 
 text-align: center;
 font-size: 25px;
}
label{
    width: 100%;
    display: inline-block;
    text-align: left;
}
/*Input Fields*/
#content{
    text-align: center;
   
}
.form-background{
    margin-top: 2rem;
    padding: 2rem;
    background: #fff;
}



