{% extends "base.html"%}
{% block main %}
  <link rel="stylesheet" href="style.css">
  <div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to Register</h1>
            <form action="">
                <form>
                    <label for="fname">First name:</label><br>
                        <input type="text" id="fname" name="fname"><br>
                    <label for="lname">Last name:</label><br>
                        <input type="text" id="lname" name="lname"><br>
                    <label for="email">Email:</label><br>
                        <input type="text" id="email" name="email"><br>
                    <label for="phone_number"> Phone number:</label><br>
                        <input type="number" id="phone_number" name="phone_number"><br>
                  </form>
            </form>
        </div>
    </div>
</div>
{% endblock %}