{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="../static/css/style.css">
<div id="error404" class="container">
    <div class="row">
        <div id="error404" class="col">
            <h1 id="error_page"> 404 </h1>
            <p id="error">We are not able to find this page.</p>
            <p id="error"> You could go back home <a href="/">Return to home</a></p>
            <img  src="../static/img/404 error.png" alt="404 error" id="error_img">
        </div>
    </div>
</div>
{% endblock %}